<!--<!DOCTYPEhtml>-->
<!--<html lang="ja">-->
<!--  <head>-->
<!--    <meta charset="UTF-8" />-->
<!--  </head>-->
<!--  <body>-->
     <!--<script>
<!--  　　// HTMLファイルに直接記述する場合-->
<!--      // alert('Hello World');-->
   
    <!--</script>-->
       <!--// jaファイルに記述する場合-->
<!--      <script src="app.js"></script>-->
<!--  </body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <script src="jquery.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>